<div id="footer">
  <div id="quote">
    <q>It's not who I am underneath, but what i do that defines me.</q>
    <p id="batman">- Batman</p>
  </div>
  <ul id="links">
    <li><a href="#start">Home</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#resume">Resume</a></li>
  </ul>
  <div class="copyright">
    © 2020, Nikhil Rajesh
  </div>
  <ul id="contact">
    <li>
      <a href="tel:7012358018" alt="phone" rel="noreferrer noopener">
        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="email:nikhilr.v2.0@gmail.com" alt="email" rel="noreferrer noopener">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/nikhil-rajesh1999" alt="linkedin" rel="noreferrer noopener">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/MaximusAlvarez/maximusalvarez.github.io" alt="github" rel="noreferrer noopener">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/_.nikhilr._/" alt="instagram" rel="noreferrer noopener">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
