@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
body {
	background-color: #ccc;
	background-repeat: no-repeat;
	margin: 0px;
}
.navbar {
	/*position: fixed;*/
	/*background: linear-gradient(235deg, #eef0f3 0%, #3d549ce8 100%);*/
	background-color: #ccc;
	border-bottom: 2px solid red;
	width: 100%;
	font-family: 'Fredoka One', cursive;
	font-size: 18px;
	box-shadow: 0 0 4px;
	min-height: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}
.nav__head {
	width: 15%;
	color: #FFF;
	text-align: center;
}
.nav__content {
	display: flex;
	min-width: 30%;
	justify-content: space-around;
	font-size: 18px;
}
.nav__content a {
	text-decoration: none;
	color: white;
}
.main {
	height: 90vh;
}
.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact *{
	text-decoration: none;
	color: white;
}