<div class="container" [ngClass]="{ 'lightTheme': (isDarkTheme | async) === false }">
    <mat-card data-aos="fade-left" data-aos-offset="0" data-aos-duration="1000" (click)="openProject('storilabs')">
        <h1>Storilabs System Technologies</h1>
        <h3>Student Intern</h3>
    </mat-card>
    <mat-card data-aos="fade-right" data-aos-offset="0" data-aos-duration="1000" (click)="openProject('zeroth')">
        <h1>Zeroth Attempt - Tathva'20</h1>
        <h3>Backend Developer</h3>
    </mat-card>
    <mat-card data-aos="fade-right" data-aos-offset="0" data-aos-duration="1000" (click)="openProject('mess')">
        <h1>NITC Mess Management</h1>
        <h3>Frontend Developer</h3>
    </mat-card>
    <mat-card data-aos="fade-left" data-aos-offset="0" data-aos-duration="1000" (click)="openProject('aes')">
        <h1>AES Encryption in Verilog</h1>
        <h3>Team Project</h3>
    </mat-card>
</div>
