<div class="container">
    <mat-card data-aos="fade-left" data-aos-offset="0" data-aos-duration="1000">
        <h1>Storilabs System Technologies</h1>
        <h3>Student Intern</h3>
    </mat-card>
    <mat-card data-aos="fade-right" data-aos-offset="0" data-aos-duration="1000">
        <h1>Storilabs System Technologies</h1>
        <h3>Student Intern</h3>
    </mat-card>
    <mat-card data-aos="fade-left" data-aos-offset="0" data-aos-duration="1000">
        <h1>Storilabs System Technologies</h1>
        <h3>Student Intern</h3>
    </mat-card>
    <mat-card data-aos="fade-right" data-aos-offset="0" data-aos-duration="1000">
        <h1>Storilabs System Technologies</h1>
        <h3>Student Intern</h3>
    </mat-card>
    <mat-card data-aos="fade-left" data-aos-offset="10" data-aos-duration="1000">
        <h1>Storilabs System Technologies</h1>
        <h3>Student Intern</h3>
    </mat-card>
</div>