@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&family=Lato&display=swap');
.mypage {
    height: 100vh;
    width: 100wh;
    position: relative;
    color: black;
}
#start {
    background-image: url("../assets/batman.png");
    background-size: cover;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30vh;
    height: 100%;
}
.main p {
    font-family: 'Darker Grotesque';
}
.hey {
    font-style: italic;
    font-size: 35px;
}
.name {
    overflow: hidden;
    font-size: 80px;
}
.descrip {
    font-size: 30px;
}
#start a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  letter-spacing: .1em;
  text-decoration: none;
  padding-top: 60px;
  transition: opacity .3s;
}
#start a:hover {
  opacity: .5;
}
#start a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #000;
  border-radius: 100%;
  box-sizing: border-box;
}
#start a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#start a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


#portfolio {
    background-color: #305D60;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    min-height: 100vh;
    min-width: 100wh;
}
#portfolio .wave {
  width: 100%;
}

#portfolio .wave svg{
  position: absolute;
  bottom: 0;
}
#done {
  color: black;
  font-style: italic;
  font-size: 35px;
  padding-bottom: 30px;

}
.columns {
  width: 75%;
  z-index: 2;
}
#portfolio mat-card {
  margin: 20px;
  padding: 0;
  background-color: rgba(13,37,47,.5);
  transition: transform 0.3s ease-in-out;
  color: #426c6e;
}
#portfolio mat-card:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(13,37,47,.8);
  color: #778da9;
}
#portfolio mat-card-title {
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  width: 100%;
}
#portfolio mat-card-title img {
  height: 100%;
  width: 100%;
}
#portfolio mat-card-content {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Lato';
  text-align: center;
  min-height: 150px;
}
#portfolio mat-card-content h1 {
  font-size: 20px;
}
#portfolio mat-card-content h3 {
  font-size: 16px;
}
#portfolio mat-card-content h4 {
  font-size: 13px;
}
#portfolio mat-card-content a{
  padding: 5px;
}
#about {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #0D252F;
}
@keyframes animateWave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(190px, 0, 0);
  }
}
#about .wave {
  position: absolute;
  height: 400px;
  width: 100%;
  top: 10vh;
}
#about .wrapper1 {
  left: -300px;
}
#about .wrapper2 {
  left: -200px;
}
#about .wrapper1 svg{
  display: block;
  animation: animateWave 1.5s linear infinite;
}
#about .wrapper2 svg{
  display: block;
  animation: animateWave 2s linear infinite;
}
#resume {
  min-height: 100vh;
  min-width: 100wh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0D252F;
}
#resume .deer {
  display: flex;
}
.resume-short-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
#resume mat-card {
  background-color: #010a0e;
  opacity: 0.3;
  border-radius: 20px;
  margin: 10px;
  color: white;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
.resume-short-links mat-card:hover {
  transform: scale(1.2);
  opacity: 0.8 !important;
  cursor: pointer;
}
#resume .deer svg {
  width: 440px;
}
.resume-sub {
  height: 80vh;
  width: 80vw;
}
.resume-sub mat-card-title {
  font-size: 40px;
  font-style: normal;
  padding-bottom: 20px;
}
.resume-sub mat-card-title i {
  float: right;
  cursor: pointer;
}
.technologies mat-card-content {
  display: flex;
}
.technologies p {
  font-size: 20px;
  font-style: normal;
  padding-bottom: 15px;
}
.technologies li {
  font-size: 17px;
}
.experience {
  padding-left: 100px;
}


@media screen and (min-width: 600px) {
  #portfolio mat-card {
    width: 320px !important;
    height: 320px;
  }
}
@media screen and (max-width: 600px) {
  .name {
    font-size: 40px;
  }
  .hey {
    font-size: 30px;
  }
  .descrip {
    font-size: 30px;
  }
  #done {
    font-size: 23px;
  }
}
@media screen and (max-width: 800px) {
  #resume .deer svg {
    display: none;
  }
  .resume-short-links {
    padding-left: 0;
  }
}