
  <div class="mypage" id="start">
    <app-navbar></app-navbar>
    <div class="main">
      <p class="hey">Hey I'm</p>
      <p class="name" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">--- Nikhil Rajesh ---</p>
      <p class="descrip" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">Student + Developer</p>
    </div>
    <a href="#portfolio"><span></span></a>
  </div>
  <div id="portfolio">
    <p id="done">--- Here's what I've done ---</p>
    <div class="columns is-multiline is-mobile is-centered">
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}">
        <mat-card-title>
          <img src="../assets/wms.png" alt="">
        </mat-card-title>
        <mat-card-content>
          <h1>Storilabs System Technologies</h1>
          <h3>Student Intern</h3>
          <h4>Nov, 2019 - Present</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}">
        <mat-card-title>
          <img src="../assets/mess.png" alt="">
        </mat-card-title>
        <mat-card-content>
          <h1>NITC Mess Management
            <a href="https://github.com/MaximusAlvarez/nitc-mess-frontend">
              <i class="fa fa-github fa-x" aria-hidden="true"></i>
            </a>
          </h1>
          <h3>Frontend Developer</h3>
          <h4>Jan, 2020 - Present</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}">
        <mat-card-title>
          <img src="../assets/my-website.png" alt="">
        </mat-card-title>
        <mat-card-content>
          <h1>My Personal Website
            <a href="https://github.com/MaximusAlvarez/maximusalvarez.github.io">
              <i class="fa fa-github fa-x" aria-hidden="true"></i>
            </a>
          </h1>
          <h3>Frontend Developer</h3>
          <h4>April, 2020 - Present</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}">
        <mat-card-title>
          <img src="../assets/lock.jpg" alt="">
        </mat-card-title>
        <mat-card-content>
          <h1>AES Encryption in Verilog
            <a href="https://github.com/MaximusAlvarez/AES_128bit_Encryption_Decryption_In_Verilog">
              <i class="fa fa-github fa-x" aria-hidden="true"></i>
            </a>
          </h1>
          <h3>Done as a Team project for Logic Design course in semester III</h3>
          <h4>Nov, 2019</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}">
        <mat-card-title>
          <img src="../assets/ieee.png" alt="">
        </mat-card-title>
        <mat-card-content>
          <h1>IEEE Computer Society Student Branch Chapter - NIT Calicut</h1>
          <h3>Secretary</h3>
          <h4>Feb, 2020 - Present</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <section id="about">
    <div class="wrapper">
      <div class="wave"></div>
    </div>
  </section>