
  <div class="mypage" id="start">
    <app-navbar></app-navbar>
    <div class="main">
      <p class="hey">Hey I'm</p>
      <p class="name" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">--- Nikhil Rajesh ---</p>
      <p class="descrip" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">Student + Developer</p>
    </div>
    <a href="#portfolio"><span></span></a>
  </div>
  <div id="portfolio">
    <p id="done">--- Here's what I've done ---</p>
    <div class="columns is-multiline is-mobile is-centered">
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}">
        
      </mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}"></mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}"></mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}"></mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}"></mat-card>
      <mat-card class="column" [ngClass]="{'is-two-fifths': innerWidth >= 800, 'is-full': innerWidth <= 800}"></mat-card>
    </div>
  </div>
  <section id="about">
    <div class="wrapper">
      <div class="wave"></div>
    </div>
  </section>