<mat-drawer-container class="drawerContainer" [hasBackdrop]="'true'" fullscreen>
    <mat-drawer #drawer [mode]="'over'">
        <div class="sidebar">
            <div class="sidebar-start">
                <button mat-icon-button class="icon sidebarButton" (click)="drawer.toggle()">
                    <fa-icon [icon]="faTimes" size="2x"></fa-icon>
                </button>
                <div class="navitem icon" (click)="drawer.toggle()" [routerLink]="['/']">
                    <fa-icon style="margin-right: 10px;" [icon]="faHome"></fa-icon>
                    Home
                </div>
                <div class="navitem icon" (click)="drawer.toggle()" [routerLink]="['/blog']">
                    <fa-icon style="margin-right: 10px;" [icon]="faPencil"></fa-icon>
                    Blog
                </div>
                <div class="navitem icon" (click)="drawer.toggle()" [routerLink]="['/projects']">
                    <fa-icon style="margin-right: 10px;" [icon]="faCode"></fa-icon>
                    Projects
                </div>
            </div>
            <div class="sidebar-end">
                <p>
                    © 2020, Nikhil Rajesh
                </p>
            </div>
        </div>
    </mat-drawer>
    <div class="navbar">
        <div class="navbar-start">
            <h1>nikhilr</h1>
        </div>
        <div class="navbar-end" *ngIf="!smallScreen">
            <div class="middle" [routerLink]="['/']">Home</div>
            <div class="middle" [routerLink]="['/blog']">Blog</div>
            <div class="middle" [routerLink]="['/projects']">Projects</div>
        </div>
        <button mat-icon-button class="icon sidebarButton" *ngIf="smallScreen" (click)="drawer.toggle()">
            <fa-icon [icon]="faBars" size="2x"></fa-icon>
        </button>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="footerContainer">
        <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile *ngIf="!smallScreen" class="primary" [colspan]="1">
                <p>
                    © 2020, Nikhil Rajesh
                </p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="cols">
                <a href="tel:+917012358018" target="_blank" class="icon">
                    <fa-icon [icon]="faPhone" (mouseover)="spin = 1" (mouseout)="spin = 0" size="2x"
                        [spin]="spin === 1">
                    </fa-icon>
                </a>
                <a href="email:nikhilr.v2.0@gmail.com" target="_blank" class="icon">
                    <fa-icon [icon]="faEnvelope" (mouseover)="spin = 2" (mouseout)="spin = 0" size="2x"
                        [spin]="spin === 2">
                    </fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/nikhil-rajesh1999" target="_blank" class="icon">
                    <fa-icon [icon]="faLinkedIn" (mouseover)="spin = 3" (mouseout)="spin = 0" size="2x"
                        [spin]="spin === 3">
                    </fa-icon>
                </a>
                <a href="https://github.com/Ph4t3/" target="_blank" class="icon">
                    <fa-icon [icon]="faGithub" (mouseover)="spin = 4" (mouseout)="spin = 0" size="2x"
                        [spin]="spin === 4">
                    </fa-icon>
                </a>
                <a href="https://www.instagram.com/_.nikhilr._/" target="_blank" class="icon">
                    <fa-icon [icon]="faInstagram" (mouseover)="spin = 5" (mouseout)="spin = 0" size="2x"
                        [spin]="spin === 5">
                    </fa-icon>
                </a>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="!smallScreen" [colspan]="1"></mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-drawer-container>