<div class="container" [ngClass]="{'lightTheme' : (isDarkTheme | async) === false }">
    <h1 class="header">redpwnCTF 2020 Writeup</h1>
    <p class="subHeader">
        Writeups to the challenges that I completed in
        <a href="https://ctf.redpwn.net/">redpwnCTF 2020</a>
    </p>
    <table>
        <tr class="head">
            <th class="name">Challenge Name</th>
            <th>Category</th>
        </tr>
        <tr *ngFor="let challenge of datasource">
            <td class="name">
                <a
                    (click)="scrollToElement(challenge.challengeName)"
                    class="data"
                    style="text-decoration: none;"
                >
                    {{challenge.challengeName}}
                </a>
            </td>
            <td>{{challenge.category}}</td>
        </tr>
    </table>

    <section id="12-shades-of-redpwn">
        <h1>12-shades-of-redpwn --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            Everyone's favorite guess god Tux just sent me a flag that he somehow encrypted with a
            color wheel! I don't even know where to start, the wheel looks more like a clock than a
            cipher... can you help me crack the code?
        </p>
        <a href="../../../assets/redpwnCTF/12-shades-of-redpwn/color-wheel.jpg" target="_blank">
            <button class="button">
                <fa-icon class="icon buttonIcon" [icon]="faDownload"></fa-icon>
                color-wheel.jpg
            </button>
        </a>
        <a href="../../../assets/redpwnCTF/12-shades-of-redpwn/ciphertext.jpg" target="_blank">
            <button class="button">
                <fa-icon class="icon buttonIcon" [icon]="faDownload"></fa-icon>
                ciphertext.jpg
            </button>
        </a>
        <p>
            There are 12 different colors in <i>colorwheel.jpg</i>. These 12 colors can be thought
            to correspond to the hours in a clock. In that way we can assign each color a number. If
            these numbers are substituted in <i>ciphertext.jpg</i>, we get a list of numbers grouped
            by 2.
        </p>
        <div [innerHTML]="highlight['0']['0']"></div>
        <p>
            We know that all flags are of the format <i>flag{{'{'}}...{{'}'}}</i>. So if we assume
            <i>8,6</i> & <i>9,0</i> corresponds to ascii codes of <i>f</i> and
            <i>l</i> respectively, we can find that <i>firstNumber*12 + secondNumber</i> is the
            corresponding ascii code. A python script can be written to find the rest of the values.
        </p>
        <div [innerHTML]="highlight['0']['1']"></div>
        <h3>flag: <i>flag{{'{'}}9u3ss1n9_1s_4n_4rt{{'}'}}</i></h3>
    </section>

    <section id="4k-rsa">
        <h1>4k-rsa --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            Only n00bz use 2048-bit RSA. True gamers use keys that are at least 4k bits long, no
            matter how many primes it takes...
        </p>
        <a href="../../../assets/redpwnCTF/4k-rsa/4k-rsa-public-key.txt" download>
            <button class="button">
                <fa-icon class="icon buttonIcon" [icon]="faDownload"></fa-icon>
                4k-rsa-public-key.txt
            </button>
        </a>
        <p>
            Tried the first thing I always try, fired up a browser and opened
            <a href="https://www.alpertron.com.ar/ECM.HTM" target="_blank">alpertron</a>. Factoring
            <i>n</i> resulted in more than a few factors. This is a generic case of
            <i>multi-prime rsa</i>. From the factors we have to find <i>phi</i>, then <i>d</i>, and
            then decrypt. Here is the python code that I used for this.
        </p>
        <div [innerHTML]="highlight['1']['0']"></div>
        <h3>flag: <i>flag{{'{'}}t0000_m4nyyyy_pr1m355555{{'}'}}</i></h3>
    </section>

    <section id="alien-transmissions-v2">
        <h1>alien-transmissions-v2 --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            The aliens are at it again! We've discovered that their communications are in base 512
            and have transcribed them in base 10. However, it seems like they used XOR encryption
            twice with two different keys! We do have some information: - This alien language
            consists of words delimitated by the character represented as 481 - The two keys appear
            to be of length 21 and 19 - The value of each character in these keys does not exceed
            255 Find these two keys for me; concatenate their ASCII encodings and wrap it in the
            flag format.
        </p>
        <a href="../../../assets/redpwnCTF/alien-transmissions-v2/encrypted.txt" download>
            <button class="button">
                <fa-icon class="icon buttonIcon" [icon]="faDownload"></fa-icon>
                encrypted.txt
            </button>
        </a>
        <h3>Scripting Language: <i>Python3</i></h3>
        <p>First we create an array of the numbers from <i>encrypted.txt</i></p>
        <div [innerHTML]="highlight['2']['0']"></div>
        <p>There are 2 things to note here:</p>
        <ul>
            <li>The delimiter will be the most common character in the message.</li>
            <li>
                399 is the LCM of key1.length and key2.length. So all 399th number from
                encrypted.txt will be XORed with the same combination of characters from key1 and
                key2.
            </li>
        </ul>
        <p>First we have to isolate all 399th characters.</p>
        <div [innerHTML]="highlight['2']['1']"></div>
        <p>Now occurences of each number in each sub-array should be counted.</p>
        <div [innerHTML]="highlight['2']['2']"></div>
        <p>
            The most occured number in each subarray will be the delimiter XORed with key1[i] ^
            key2[j]. We isolate these numbers into a 2D array.
        </p>
    </section>

    <section id="base646464">
        <h1>base646464 --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            Encoding something multiple times makes it exponentially more secure!
        </p>
    </section>

    <section id="itsy-bitsy">
        <h1>itsy-bitsy --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            The itsy-bitsy spider climbed up the water spout...
            <i>nc 2020.redpwnc.tf 31284</i>
        </p>
    </section>

    <section id="primimity">
        <h1>primimity --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            People claim that RSA with two 1024-bit primes is secure. But I trust no one. That's why
            I use three 1024-bit primes.
        </p>
        <p>
            I even created my own prime generator to be extra cautious!
        </p>
    </section>

    <section id="pseudo-key">
        <h1>pseudo-key --- crypto</h1>
        <h2>Problem Statement:</h2>
        <p>
            Keys are not always as they seem... Note: Make sure to wrap the plaintext with
            flag{{'{'}}{{'}'}} before you submit!
        </p>
    </section>

    <section id="inspector-general">
        <h1>inspector-general --- web</h1>
        <h2>Problem Statement:</h2>
        <p>
            My friend made a new webpage, can you
            <a href="https://redpwn.net/">find a flag?</a>
        </p>
    </section>

    <section id="bubbly">
        <h1>bubbly --- rev</h1>
        <h2>Problem Statement:</h2>
        <p>
            It never ends
            <i>nc 2020.redpwnc.tf 31039</i>
        </p>
    </section>

    <section id="uglybash">
        <h1>uglybash --- misc</h1>
        <h2>Problem Statement:</h2>
        <p>
            This bash script evaluates to echo dont just run it, dummy # flag{{'{'}}...{{'}'}} where
            the flag is in the comments. The comment won't be visible if you just execute the
            script. How can you mess with bash to get the value right before it executes? Enjoy the
            intro misc chal.
        </p>
    </section>

    <section id="coffer-overflow-2">
        <h1>coffer-overflow-2 --- pwn</h1>
        <h2>Problem Statement:</h2>
        <p>
            You'll have to jump to a function now!?
            <i>nc 2020.redpwnc.tf 31908</i>
        </p>
    </section>
</div>
