<div class="container" *ngIf="data.projectName=='storilabs'">
    <a href="https://storilabs.com" target="_blank">
        <img class="projectImg" src="../../assets/storilabs.png" alt="">
    </a>
    <h4>Dec'2019 - Present</h4>
    <p>I have been working as a paid student intern. Mostly I have been involved in Frontend work. I
        have completed various projects such as Waste Management System, Voucher Management System and User Management
        System under them.</p>
    <mat-chip-list aria-label="frameworks">
        <mat-chip>Angular</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>SCSS</mat-chip>
    </mat-chip-list>
</div>
<div class="container" *ngIf="data.projectName=='zeroth'">
    <a href="https://zerothattempt.tathva.org/" target="_blank">
        <img class="projectImg" src="../../assets/zerothAttempt.png" alt="">
    </a>
    <h4>May'2020 - Jun'2020</h4>
    <p>A mock JEE conducted as part of the annual college fest of NIT Calicut, Tathva'20. I was involved in creating the
        robust and secure backend for exam.</p>
    <mat-chip-list aria-label="frameworks">
        <mat-chip>NodeJS</mat-chip>
        <mat-chip>Express</mat-chip>
        <mat-chip>MongoDB</mat-chip>
    </mat-chip-list>
</div>
<div class="container" *ngIf="data.projectName=='mess'">
    <a href="https://nitc-mess-frontend.now.sh/" target="_blank">
        <img class="projectImg" src="../../assets/mess.png" alt="">
    </a>
    <h4>Feb'2020 - Mar'2020</h4>
    <p>A web application developed to make the handling of mess dues in NIT Calicut easier. This was done as a part of
        the Hackathon conducted by FOSSCell, NIT Calicut</p>
    <mat-chip-list aria-label="frameworks">
        <mat-chip>Angular</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>SCSS</mat-chip>
        <a href="https://github.com/Ph4t3/nitc-mess-frontend" target="_blank" class="icon" style="padding-left: 10px;">
            <fa-icon [icon]="faGit" size="2x"></fa-icon>
        </a>
    </mat-chip-list>
</div>
<div class="container" *ngIf="data.projectName=='aes'">
    <h4>Nov'2019</h4>
    <p>Implementation of AES encryption in Verilog. This was dones as part of my CSE undergrad 3rd Semester Logic Design
        course.</p>
        <mat-chip-list aria-label="frameworks">
            <mat-chip>Verilog</mat-chip>
            <a href="https://github.com/Ph4t3/AES_128bit_Encryption_Decryption_In_Verilog" target="_blank" class="icon" style="padding-left: 10px;">
                <fa-icon [icon]="faGit" size="2x"></fa-icon>
            </a>
    </mat-chip-list>
</div>