@import "src/globalVariables.scss";

.container {
    margin: 20px auto;
    max-width: 960px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    .flex {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .heading {
        margin-top: 5px;
        * {
            font-weight: bold;
        }
    }
    .maxFlexWidth {
        flex: 1;
    }
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
        position: absolute;
	z-index: -1;
        width: 100%;
    }
    .right {
        text-align: right;
    }
    ul,
    p {
        margin: 0;
    }
    h3 {
        margin: 10px 0 0 0;
    }
}
.isLightTheme {
    * {
        color: $lightPrimaryText;
    }
    .hasBottomBorder {
        border-bottom: 2px solid $lightPrimaryText;
    }
}
.isDarkTheme {
    * {
        color: $darkPrimaryText;
    }
    .hasBottomBorder {
        border-bottom: 2px solid $darkPrimaryText;
    }
}
@media print {
    .container *{
        color: black;
    }
    .hasBottomBorder {
        border-bottom: 2px solid black !important;
    }
}
