<div class="container" [ngClass]="{ 'isDarkTheme': isDarkTheme, 'isLightTheme': !isDarkTheme }">
    <header class="flex">
        <div class="left">
            Cherala House <br />
            Thottippal, Thrissur <br />
            680310 <br />
            <a href="https://github.com/ph4t3">github.com/ph4t3</a>
        </div>
        <div class="center maxFlexWidth">
            <h1>Nikhil R</h1>
        </div>
        <div class="right">
            +91 7012358018 <br />
            mail@nikhilrajesh.com <br />
            <a href="https://nikhilrajesh.com">nikhilrajesh.com</a>
        </div>
    </header>
    <main>
        <h3 class="hasBottomBorder">Education</h3>
        <div class="flex heading">
            <div class="left">Calicut, Kerala</div>
            <div class="center maxFlexWidth">National Institute of Technology</div>
            <div class="right">Jul, 2018 - Present</div>
        </div>
        <ul>
            <li><b>Major</b> - B.Tech Computer Science and Engineering</li>
            <li><b>CGPA</b> - 8.89</li>
            <li><b>Expected Graduation Date</b> - Apr, 2022</li>
        </ul>
        <div class="flex heading">
            <div class="left">Thrissur, Kerala</div>
            <div class="center maxFlexWidth">Devamatha CMI Public School</div>
            <div class="right">Jun, 2015 - Mar, 2017</div>
        </div>
        <ul>
            <li><b>Percentage</b> - 95.4 (12th Std.)</li>
        </ul>
        <h3 class="hasBottomBorder">Experience</h3>
        <div class="flex heading">
            <div class="left">Software Intern</div>
            <div class="center maxFlexWidth">Storilabs System Technologies</div>
            <div class="right">Sep, 2019 - Present</div>
        </div>
        <ul>
            <li>
                Implemented various web applications in Angular that enhances the features of
                an existing B2B e-commerce platform.
            </li>
        </ul>
        <div class="flex heading">
            <div class="left">Secretary</div>
            <div class="center maxFlexWidth">IEEE Computer Society, NITC</div>
            <div class="right">Feb, 2020 - Present</div>
        </div>
        <ul>
            <li>Conducted various events such as online treasure hunts and coding competitions.</li>
        </ul>
        <h3 class="hasBottomBorder">Projects</h3>
	<p><b>Personal Website</b> - nikhilrajesh.com (blog and other projects)</p>
	<p><b>Zeroth Attempt - Tathva'20</b></p>
	<ul>
		<li>Developed a web application to conduct a mock JEE exam as part of the annual technical fest of NITC.</li>
		<li>Utilized: NodeJS, MongoDB, Git, HTML/CSS</li>
	</ul>
	<p><b>Mess Management</b></p>
	<ul>
		<li>Developed the frontend for a web application to manage and track mess dues of various students in NITC.</li>
		<li>Utilized: Angular, HTML/CSS, Git</li>
	</ul>
        <h3 class="hasBottomBorder">Skills</h3>
        <ul>
            <li>
                <b>Programming Languages</b> - C, C++, Javascript, Typescript, Python, HTML/CSS, MIPS,
                NASM, Verilog
            </li>
            <li><b>Tools & Frameworks</b> - Git, Unix, NodeJs, Angular, MongoDB</li>
        </ul>
        <h3 class="hasBottomBorder">Hobbies</h3>
	<ul>
		<li>Participating in various CTF(Capture The Flag) competitions.</li>
	</ul>
    </main>
</div>
<!--div.flex.heading>div.left+div.center.maxFlexWidth+div.right-->
