@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./globalVariables.scss";

html {
	min-height: 100%;
	scroll-behavior: smooth;
	body {
		padding: 0;
		margin: 0;
		height: 100%;
		* {
			line-height: 1.5;
		}
	}
}

.icon:hover {
	cursor: pointer;
}

.bottomSheet {
	padding: 0 !important;
	max-width: 90vw;
	min-width: 0 !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #393e4696;
}
pre {
	border-radius: 5px;
}
.button {
	background-color: transparent;
	font-size: 22.5px;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	.buttonIcon {
		margin: 5px;
	}
}
.button:hover {
	cursor: pointer;
}

mat-drawer-container.darkTheme {
	background: $darkBackground !important;
	* {
		color: $darkPrimaryText;
	}
	.icon svg path {
		fill: $darkPrimary !important;
	}
	.icon:hover svg path {
		fill: $darkPrimaryText !important;
	}
	.button {
	  color: $darkPrimary;
	  border: 1px solid $darkPrimary;
	}
}

mat-drawer-container.lightTheme {
	background: $lightBackground !important;
	* {
		color: $lightPrimaryText;
	}
	.icon svg path {
		fill: $lightPrimary !important;
	}
	.icon:hover svg path {
		fill: $lightPrimaryText !important;
	}
	.button {
	  color: $lightPrimary;
	  border: 1px solid $lightPrimary;
	}
}
