<div class="container">
    <section id="home">
        <h3 data-aos="flip-up" data-aos-offset="0" data-aos-duration="1000">Hey I'm</h3>
        <h1 data-aos="flip-down" data-aos-offset="0" data-aos-delay="300" data-aos-duration="1000">Nikhil Rajesh</h1>
        <!-- <div class="scrollButton">
            <button mat-fab aria-label="Scroll Button" (click)="scrollToElement()">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div> -->
    </section>
    <!-- <section id="about">
        <h1>About Me</h1>
        <p>
            An engineering undergrad
        </p>
    </section> -->
</div>